.header {
    background: linear-gradient(90deg, #3299db, #56c8f9);
    color: white;
    text-align: center;
    padding: 10px 15px;
    font-size: 28px;
    font-weight: bold;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: calc(100%);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
  }
  .header-logo {
    margin-right: 15px;
  }
  .header-logo img {
    height: 40px;
    vertical-align: middle;
  }
  .header-title {
    vertical-align: middle;
  }

  .header-slogan {
    font-size: 10px;
    color: #ffffff;
    margin-top: 2px;
    text-align: center;
    font-style: italic;
  }
  