.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto 0 auto;
  }
  .container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    padding: 20px;
    margin: 20px auto 0 auto;
  }

  .module-spacer {
    height: 0px;
  }

  .questions-and-answers-container {
    display: flex;
    gap: 60px;
  }

  .answer {
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .item {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .answer-question {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .author-photo {
    width: 50%;  /* Adjust size as needed */
    height: 50%;  /* Keep the width and height equal */
    border-radius: 10%;
    object-fit: cover;  /* Ensures the image covers the container */
    overflow: hidden;
  }

  #questions-content{
    padding: 10px;
  }

  .no-answer {
    font-weight: bold;
    color: #f44336;
    text-align: center;
    padding: 20px;
    background-color: #ffebee;
    border-radius: 5px;
    margin-top: 20px;
}

